Repository lsst-ts/LOVE-simulator: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Path conditions:
  Build Simulator Docker image: ((((any of: simulator *) or (any of: config *)) or (any of: config/*)) or (any of: Dockerfile)) or (any of: Jenkinsfile)
  Build ATDome simulator Docker image: (((any of: csc-sim/atdome-setup.sh) or (any of: config/*)) or (any of: Dockerfile-atdome)) or (any of: Jenkinsfile)
  Push ATDome simulator Docker image: (((any of: csc-sim/atdome-setup.sh) or (any of: config/*)) or (any of: Dockerfile-atdome)) or (any of: Jenkinsfile)
  Build TestCSC simulator Docker image: (((any of: csc-sim/testcsc-setup.sh) or (any of: config/*)) or (any of: Dockerfile-testcsc)) or (any of: Jenkinsfile)
  Push TestCSC simulator Docker image: (((any of: csc-sim/testcsc-setup.sh) or (any of: config/*)) or (any of: Dockerfile-testcsc)) or (any of: Jenkinsfile)
  Build ScriptQueue simulator Docker image: (((any of: csc-sim/scriptqueue-setup.sh) or (any of: config/*)) or (any of: Dockerfile-scriptqueue)) or (any of: Jenkinsfile)
  Push ScriptQueue simulator Docker image: (((any of: csc-sim/scriptqueue-setup.sh) or (any of: config/*)) or (any of: Dockerfile-scriptqueue)) or (any of: Jenkinsfile)

Improve overview
  docs/doctrees/environment.pickle
  docs/doctrees/modules/apidoc.doctree
  docs/doctrees/modules/overview.doctree
  docs/html/_images/Simulator_Overview.svg
  docs/html/_images/Simulator_Overview_2.svg
  docs/html/_sources/modules/apidoc.rst.txt
  docs/html/_sources/modules/overview.rst.txt
  docs/html/apidoc/csc-sim/csc-sim.html
  docs/html/apidoc/csc-sim/modules.html
  docs/html/apidoc/simulator/modules.html
  docs/html/apidoc/simulator/simulator.atdome.html
  docs/html/apidoc/simulator/simulator.emitters.html
  docs/html/apidoc/simulator/simulator.html
  docs/html/genindex.html
  docs/html/index.html
  docs/html/modules/apidoc.html
  docs/html/modules/overview.html
  docs/html/modules/readme_link.html
  docs/html/objects.inv
  docs/html/search.html
  docs/html/searchindex.js
  docsrc/source/assets/Simulator_Overview_2.svg
  docsrc/source/modules/apidoc.rst
  docsrc/source/modules/overview.rst
Due: none

Minor improvements
  docs/doctrees/environment.pickle
  docs/doctrees/modules/apidoc.doctree
  docs/html/_sources/modules/apidoc.rst.txt
  docsrc/source/modules/apidoc.rst
Due: none

Fix CSC SIM import
  csc_sim/__init__.py
  csc_sim/atdome-setup.sh
  csc_sim/atdome.py
  csc_sim/scriptqueue-setup.sh
  csc_sim/scriptqueue.py
  csc_sim/testcsc-setup.sh
  csc_sim/testcsc.py
  docs/doctrees/apidoc/csc-sim/csc-sim.doctree
  docs/doctrees/apidoc/csc-sim/modules.doctree
  docs/doctrees/apidoc/csc_sim/csc_sim.doctree
  docs/doctrees/apidoc/csc_sim/modules.doctree
  docs/doctrees/apidoc/simulator/simulator.atdome.doctree
  docs/doctrees/apidoc/simulator/simulator.doctree
  docs/doctrees/apidoc/simulator/simulator.emitters.doctree
  docs/doctrees/environment.pickle
  docs/doctrees/modules/apidoc.doctree
  docs/html/_sources/apidoc/csc_sim/csc_sim.rst.txt
  docs/html/_sources/apidoc/csc_sim/modules.rst.txt
  docs/html/_sources/modules/apidoc.rst.txt
  docs/html/apidoc/csc-sim/csc-sim.html
  docs/html/apidoc/csc_sim/csc_sim.html
  docs/html/apidoc/csc_sim/modules.html
  docs/html/apidoc/simulator/modules.html
  docs/html/apidoc/simulator/simulator.atdome.html
  docs/html/apidoc/simulator/simulator.emitters.html
  docs/html/apidoc/simulator/simulator.html
  docs/html/genindex.html
  docs/html/index.html
  docs/html/modules/apidoc.html
  docs/html/objects.inv
  docs/html/py-modindex.html
  docs/html/searchindex.js
  docsrc/create_docs.sh
  docsrc/source/apidoc/csc_sim/csc_sim.rst
  docsrc/source/apidoc/csc_sim/modules.rst
  docsrc/source/conf.py
  docsrc/source/modules/apidoc.rst
Due: none

Fix APIdoc
  docs/doctrees/apidoc/simulator/simulator.doctree
  docs/doctrees/environment.pickle
  docs/doctrees/modules/apidoc.doctree
  docs/html/_sources/modules/apidoc.rst.txt
  docs/html/apidoc/simulator/modules.html
  docs/html/apidoc/simulator/simulator.atdome.html
  docs/html/apidoc/simulator/simulator.emitters.html
  docs/html/apidoc/simulator/simulator.html
  docs/html/genindex.html
  docs/html/modules/apidoc.html
  docs/html/objects.inv
  docs/html/py-modindex.html
  docs/html/searchindex.js
  docsrc/source/conf.py
Due: none

Fix dockerfiles
  Dockerfile-atdome
  Dockerfile-dev
  Dockerfile-scriptqueue
  Dockerfile-testcsc
  Jenkinsfile
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

rebuild docs
  docs/doctrees/environment.pickle
  docs/html/.buildinfo
Due: none

Update dev env image
  Dockerfile
  Dockerfile-atdome
  Dockerfile-dev
  Dockerfile-scriptqueue
  Dockerfile-testcsc
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Use None as index in ATDome
  simulator/atdome/simulator.py
Due: none

Add ATMCS csc simulator
  Dockerfile-atmcs
  csc_sim/atdome.py
  csc_sim/atmcs-setup.sh
  csc_sim/atmcs.py
Due: none

Add ATMCS remote simulator
  simulator/atmcs/__init__.py
  simulator/atmcs/simulator.py
Due: none

Update main with ATMCS and None index case
  simulator/main.py
Due: none

Update default config file
  config/config.json
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Remove unnecessary config folder
  Dockerfile
Due: Build Simulator Docker image

Update development containers
  Dockerfile
  Dockerfile-atdome
  Dockerfile-dev
  Dockerfile-scriptqueue
  Dockerfile-testcsc
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Update dev environment to b64
  Dockerfile
  Dockerfile-atdome
  Dockerfile-atmcs
  Dockerfile-dev
  Dockerfile-scriptqueue
  Dockerfile-testcsc
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Update dockerfiles to support Watcher
  Dockerfile
  Dockerfile-dev
Due: Build Simulator Docker image

Add watcher csc dockerfile
  Dockerfile-watcher
  csc_sim/watcher-setup.sh
Due: none

Add watcher simulator
  Dockerfile-watcher
  simulator/main.py
  simulator/watcher/__init__.py
  simulator/watcher/simulator.py
Due: none

Add additional rule
  csc_sim/watcher-setup.sh
Due: none

Add jobs to build and push watcher-sim docker image
  Jenkinsfile
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Fix Jenkinsfile
  Jenkinsfile
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Really fix Jenkinsfile
  Jenkinsfile
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Update watcher rules
  csc_sim/watcher-setup.sh
  simulator/watcher/simulator.py
Due: none

Update atmcs simulator with longer loops
  simulator/atmcs/simulator.py
Due: none

Update to salobj 5
  Dockerfile
  Dockerfile-atdome
  Dockerfile-atmcs
  Dockerfile-dev
  Dockerfile-scriptqueue
  Dockerfile-testcsc
  Dockerfile-watcher
  csc_sim/atdome-setup.sh
  csc_sim/atmcs-setup.sh
  csc_sim/scriptqueue-setup.sh
  csc_sim/testcsc-setup.sh
  csc_sim/watcher-setup.sh
  simulator/start-daemon.sh
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

Add start command in watcher sim loop
  simulator/watcher/simulator.py
Due: none

Add missing atmcs jenkins rule
  Jenkinsfile
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

rollback watcher temporarily
  csc_sim/watcher-setup.sh
Due: none

Add domain to ATDomeSim
  simulator/main.py
Due: none

Pass ATDome domain from main.py
  simulator/atdome/simulator.py
Due: none

Make simulators more robust
  simulator/atdome/simulator.py
  simulator/atmcs/simulator.py
Due: none

Update atmcs simulator to make it more robust
  simulator/atdome/simulator.py
  simulator/atmcs/simulator.py
Due: none

Use aget in testcsc-sim
  csc_sim/testcsc.py
Due: none

Revert "Use aget in testcsc-sim"
  csc_sim/testcsc.py
Due: none

add gencam simulator
  Dockerfile-dev
  simulator/gencam/simulator.py
  simulator/main.py
Due: none

add gencam sim image
  Dockerfile-gencam
  csc_sim/gencam-setup.sh
Due: none

update devenv to :b22
  Dockerfile
  Dockerfile-atdome
  Dockerfile-atmcs
  Dockerfile-dev
  Dockerfile-scriptqueue
  Dockerfile-testcsc
  Dockerfile-watcher
Due: Build Simulator Docker image, Build ATDome simulator Docker image, Push ATDome simulator Docker image, Build TestCSC simulator Docker image, Push TestCSC simulator Docker image, Build ScriptQueue simulator Docker image, Push ScriptQueue simulator Docker image

update atdomecsc call
  csc_sim/atdome.py
Due: none

copy gencam driver in dockerfile
  Dockerfile-gencam
  simulator/gencam/simulatorcamera.py
Due: none
